.container {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 960px;

    
    &.small-container {
        max-width: 478px;   
    }
    
    &.large-container {
        max-width: unset;
    }
}