.menu {
    .menu-items {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style: none;

        li.menu-item {
            .menu-item-link {
                display: block;
                padding: 1rem 0.75rem;
                height: 100%;
                background-color: transparent;
                border: none;
                box-shadow: none;
                outline: none;
                color: var(--whiteColor);
                font-size: 0.9rem;
                font-weight: 700;
                text-decoration: none;
                text-transform: lowercase;
                letter-spacing: 0.02rem;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;
                
                &:hover {
                    background-color: rgba(0, 0, 0, .15);
                }
            }
        }
    }
}